.toggle-enter {
  opacity: 0;
}

.toggle-exit {
  opacity: 1;
}

.toggle-enter-active {
  opacity: 1;
}

.toggle-exit-active {
  opacity: 1;
}

.toggle-exit-active,
.toggle-enter-active {
  transition: opacity 300ms ease-in;
}
