.appear {
  opacity: 1;
}
.appearActive {opacity: 1;}
.appearDone {opacity: 1;}
.enter {opacity: 1;}
.enterActive {opacity: 1;}
.enterDone {opacity: 1;}
.exit {opacity: 1;}
.exitActive {opacity: 1;}
.exitDone {opacity: 1;}
