.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-div {
  opacity: 1;
  transition: opacity 1s linear;
  cursor: pointer;

  &:hover {
    opacity: .2;
  }
}

.collection-item-enter,
.collection-item-exit {
  transition: opacity 1.5s linear;
  opacity: 0;
}

.collection-item-enter-active {
  opacity: .5;
}

.collection-item-enter-done {
  opacity: 1;
}

.collection-item-exit-active {
  opacity: .5;
}

.collection-item-exit-done {
  opacity: .2;
}
